/* =========================
   ESTILOS GENERALES
   ========================= */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #222222;
}


/* =========================
   ENCABEZADO
   ========================= */

header {
    background-color: hsl(0, 3%, 56%);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}


/* =========================
   MENÚ
   ========================= */

nav a {
    text-decoration: none;
    color: #020000;
    margin-left: 20px;
}


/* =========================
   SECCIONES
   ========================= */

section {
    padding: 60px 40px;
}


/* =========================
   TÍTULOS
   ========================= */

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


/* =========================
   BOTONES
   ========================= */

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}


/* =========================
   PIE DE PÁGINA
   ========================= */

footer {
    background-color: #2e2d2d;
    color: #200101;
    text-align: center;
    padding: 20px;
}
.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;
    color: #790505;
    background-color: rgba(3, 5, 3, 0.35);
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.20);
}
.hero-contenido{
    max-width: 700px;
    z-index: 1;
    max-width: 700px;
}
.hero-subtitulo {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
.hero h2 {
    font-size: 56px;
    margin: 0 0 20px;
}
.hero p {
    font-size: 20px;
    line-height: 1.6;
}
.hero button {
    margin-top: 20px;
    padding: 14px 30px;
    background-color: #c2ffce;
    color: #000000;
    border-radius: 30px;
    font-weight: bold;
}
.carrusel {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 16px;
}
.imagen-carrusel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.destinos-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.destino-card {
    background-color: #f2fdca;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.986);
    text-align: center;
}
.destino-card h3 {
    font-size: 24px;
    margin: 22px 20px 10px;
}
.destino-card p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 25px 20px;
}
.destino-card button {
    background-color: #ff6767;
    color: #610000;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
}
.destino-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.destino-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(245, 1, 1, 0.973);
}
.boton-wathsapp {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 3px;
    background-color: #2fce69;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.boton-wathsapp:hover {
    transform: scale(1.05);
}
.detalle-destino {
    padding: 80px 40px;
    text-align: center;
    background-color: #f2fdca;
}
.detalle-destino h2 {
    font-size: 36px;
}
html {
    scroll-behavior: smooth;
}
.beneficio {
    padding: 80px 40px;
    text-align: center;
    background-color: #d2ff30;
}
.beneficio-intro {
    margin-bottom: 45px;
}
.beneficio-grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.beneficio-card {
    background-color: #d2ff30;
    border-radius: 18px;
    padding: 30px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ffda07;
    color: #333333;
    text-align: center;
    box-sizing: border-box;
}
.beneficio-card i {
    font-size: 36px;
    margin-bottom: 15px;
    color: #2a7f7f
}
.beneficio-card h3 {
    font-size: 20px;
    color: #1f4d4d;
    margin: 15px 0;
}
.beneficio-card p {
    line-height: 1.5;
    margin: 0;
}
.beneficio-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(88, 2, 2, 0.12);
}
.beneficio-grid {
    position: relative;
    display: grid;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    box-sizing: border-box;
}
.como-funciona {
    padding: 80px 40px;
    text-align: center;
}
.como-intro {
    margin-bottom: 45px;
}
.pasos-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.paso-card {
    background-color: coral;
    padding: 35px 25px;
    border-radius: 18px;
    border: 1px solid #f10202;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.numero-paso {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
}
.paso-card i {
    font-size: 40px;
    margin: 15px 0;
}
.paso-card h3 {
    font-size: 21px;
}
.paso-card p {
    line-height: 1.6;
}
.paso-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}
.contacto {
    padding: 80px 40px;
    text-align: center;
}

.contacto-intro {
    max-width: 650px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

.boton-wathsapp {
    display: inline-block;
    text-decoration: none;
    background-color: #25D366;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton-wathsapp:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
section {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
main {
    display: block;
    width: 100%;
}